<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.meizu.share_overlay" platformBuildVersionCode="4000011" platformBuildVersionName="4.0.11">
    <overlay android:priority="100" android:targetPackage="com.meizu.share"/>
    <meta-data android:name="author" android:value="Alfaslash"/>
</manifest>